	<div class="span12">
		<div class="row">
		<div class="span4">
			<div class="description">
			<h2>Who are we?</h2>
		</div>
		<p class="quote">"we are a team of I.T experts, helping you Bild your Business with a tailor made software and internet solutions"</p>
		</div>
		<div class="span8">
			<%= link_to image_tag('sidebanner.png') %>
		</div>
	<div class="row">
				<div class="span4">
					side bar image
				</div>
				<div class="span6 notes">
					<h3>Company Profile</h3> 
					<p>We are an Australian owned company that provides Software Development, Website Development,Website Designing, E-Commerce Solutions and Data Processing Services. Operating from Australia (Melbourne), we help our clients establish their web presence. We will provide you the best solution to accomplish your needs. We ensure our client's best interest, provide value for the money and provide reliable solution at mates rates. Delivering the best services on time and within budget is our specialisation. We have dedicated team of developers with strong domain expertise and extensive skills in Open source technologies.</p>
		</div>
	</div>
	<div class="row">
				<div class="span4">
					side bar image
				</div>
				<div class="span6" >
					<h3>Our Company</h3> 
					<p class="notes">We are an Australian owned company that provides Software Development, Website Development,Website Designing, E-Commerce Solutions and Data Processing Services. Operating from Australia (Melbourne), we help our clients establish their web presence. We will provide you the best solution to accomplish your needs. We ensure our client's best interest, provide value for the money and provide reliable solution at mates rates. Delivering the best services on time and within budget is our specialisation. We have dedicated team of developers with strong domain expertise and extensive skills in Open source technologies.</p>
		</div>
	</div>
</div>
</div>