<div class="span12">
		<div class="row">
		<div class="span4">
			<div class="description">
			<h2>Get in Touch</h2>
			</div>
			<p>"We would love to hear from you. Send us all your enquires and feedback.We will endeavour to respond as soon as we can"</p>
		 </div>
		<div class="span8">
			<%= link_to image_tag('sidebanner.png') %>
		</div>
	</div>
</div><!--end of span12-->