// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

body{
	width: auto;
}

.logo{
	background: url(../assets/logo.png)no-repeat; width:210px;height:222px;
	
}
.menu{
	
}
.menu ul li{
	display: inline-block;
	list-style: none;
	padding-right: 78px;
}
.banner{
	background: url(../assets/slider.png)no-repeat;width:1024px; height:536px;
}


/** footer**/
.designed_by{
	float:right;
}