 <header>
      <div class="row">
       <div class="span12">
       	<!--logo-->
       <div class="logo">
         <a href="home"><img src="../assets/logo.png"></a>
       </div>

        <div class="menu span8">
       	<ul>
       		<li><a href="about">About Us</a></li>
       		<li><a href="services">Services</a> </li>
       		<li><a href="contact">Contact Us</a></li>
       	</ul>
       </div><!--end of menu-->
     </div><!--/end of span12-->
    </div><!--/end of row-->
  </header>
