 <header>
      <div class="row">
       <div class="span12">
       	<!--logo-->
       <div class="span4 logo">
       
       </div>
       <div class="menu span8">
       	<ul>
       		<li><a href="#">About Us</a></li>
       		<li><a href="#">Services</a> </li>
       		<li><a href="#">Contact Us</a></li>
       	</ul>
       </div><!--end of menu-->
     </div><!--/end of span12-->
    </div><!--/end of row-->
  </header>
